.login{
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;

    form{
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #fff;
      border-radius: 10px;
      padding: 20px;

      .form-title {
        color: #fff;
        font-size: 15px;
        font-weight: bold;
      }

      input{
        width: 200px;
        height: 30px;
        margin: 10px;
        border-radius: 10px;
        padding-left: 10px;
        outline: none;
      }

      button{
        width: 220px;
        height: 30px;
        margin-top: 10px;
        border: none;
        background-color: purple;
        color: white;
        font-weight: bold;
        cursor: pointer;
        border-radius: 10px;
        outline: none;
      }

      span{
        font-size: 12px;
        color: red;
        margin-top: 10px;
      }
    }
}